{% extends 'blog/base.html'%} {% load crispy_forms_tags%} {%block content%}
<div class="card mt-3 w-75">
  <form method="POST" class="m-4">
    {%csrf_token%}
    <fieldset class="form-group">
      <legend class="mb-4 card-header">Log In</legend>
      {{ form|crispy }}
    </fieldset>
    <div>
      <button class="btn btn-outline-info m-2" type="submit">Log In</button>
      <small class="text-muted ml-2">
        <a href="{% url 'password_reset'%}">Forgot Password?</a>
      </small>
    </div>
  </form>
  <div class="card-footer text-center">
    <small class="text-muted"
      >Need an account ?<a href="{% url 'register'%}" class="ml-2">
        Sign Up</a
      ></small
    >
  </div>
</div>
{%endblock%}
